body {
    margin:0;
    font-family: 'Source Code Pro', monospace;
    color:#0f0f10;
}

section {
    position: relative;
    display:flex;
    flex-direction: column;
    align-items: center;
    min-height: 400px;
    padding: 100px 20vw;
}

.foot {
    background: #0f0f10;
    color:white;
    min-height: 1px;
}

.pastel-green1 {
    background: #aae9a4
}

.pastel-green2 {
    background: #77df79
}

.pastel-green3 {
    background: #47c751
}

.pastel-navy1 {
    background: #5768cd
}

.pastel-navy2 {
    background: #414abb
}

.pastel-navy3 {
    background: #2b2ea3
}

.dark {
    background: #0f0f10;
}

.spacer {
    aspect-ratio: 960/300;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    position: relative;
    display:flex;
    flex-direction: column;
    align-items: center;
}

.spacer-title {
    margin-top: -150px;
    font-size: 60px;
    color:white;
}

.spacer-title-dark {
    margin-top: -150px;
    font-size: 60px;
    color:#0f0f10;
}

.svg1 {
    background-image:url('./../svgs/layered-waves-haikei1.svg');
}

.svg2 {
    background-image:url('./../svgs/layered-waves-haikei2.svg');
}

.svg3 {
    background-image:url('./../svgs/layered-waves-haikei3.svg');
}

.svgfoot {
    background-image: url('./../svgs/layered-waves-haikei-foot.svg');
}

#socials * {
    padding:6px;
    margin-bottom: 6px;
    text-decoration: none;
    vertical-align: middle;
}

.social-imgs:hover,
.social-imgs:focus  {
    transition: .2s;
    filter: invert(71%) sepia(56%) saturate(1002%) hue-rotate(183deg) brightness(101%) contrast(104%);
}

.intro-container {
    padding:6px;
    display:flex;
    justify-content: space-around;
    visibility: hidden;
}

.intro-img {
    display: inline-block;
    vertical-align: top;
    width: 323px;
    height: 520px;
}

.intro-text {
    display: inline-block;
    margin-left: 50px;
    max-width: 500px;
    font-size: 16px;
}

.fadeIn {
    -webkit-animation: animat_show 1.5s;
    animation: animat_show 1.5s;
    visibility: visible !important;
}

@-webkit-keyframes animat_show{
    0%{opacity:0}
    100%{opacity:1}
}

.education-container {
    display:flex;
    justify-content: space-around;
    color:white;
}

.education-seal {
    display: inline-block;
    vertical-align: top;
}

.education-title {
    display: inline-block;
    margin-left: 50px;
}

#courses {
    color:white;
    margin-top: 30px;
    margin-left: 70px;
    font-size: 17px;
}

.projects-container {

}

.project-info-box {
    position: relative;
    text-align: center;
    color:black;
    flex-basis: 25%;
    margin-bottom: 12px;
}

.project-info-box:hover > .project-imgs {
    transition: 0.5s;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
}

.project-info-box:hover > .img-centered-text {
    color:white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    opacity: 100%;
    transition: 0.3s;
}

.img-centered-text {
    margin-top: -20px;
    width: 96%;
    transition: 0.5s;
    color:white;
    opacity: 0%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-shadow:
    -1px -1px 0 #000,  
     1px -1px 0 #000,
     -1px 1px 0 #000,
      1px 1px 0 #000;
}

.img-centered-title {
    color:white;
    text-align: center;
    margin-top: 5px;
    text-decoration: none;
}

.grid--3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 5rem;
}

.project-imgs {
    transition: 0.5s;
    filter: blur(0px);
    -webkit-filter: blur(0px);
    -moz-filter: blur(0px);
}
